{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },{
      text: "Payment holds",
      href: "/payment-holds"
    }]
  })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="/payment-holds/bulk" autocomplete="off" novalidate enctype="multipart/form-data">
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <h1 class="govuk-heading-l">Bulk payment holds</h1>
        <p class="govuk-body">
          Any FRNs provided here will have holds applied or removed depending on your input.
        </p>
        {% if errors %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for errorDetail in errors.details %}
                  <span class="govuk-error-message"><span class="govuk-visually-hidden">Error:</span> {{ errorDetail.message }}</span>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

        <div class="govuk-form-group">
          <label class="govuk-label" for="remove">
            Do you want to add or remove holds?
          </label>
          <select class="govuk-select" id="remove" name="remove" value={{ remove }}>
            <option value="false" selected>Add</option>
            <option value="true">Remove</option>
          </select>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="file">
            Upload a file
          </label>
          <div class="govuk-hint">
            File should be in CSV format, containing only FRNs to be placed on hold, separated with commas.
          </div>
          <input class="govuk-file-upload" id="file" name="file" type="file" value="{{ file }}">
        </div>
        
        {% for scheme in schemes %}
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-label govuk-label--s">
                Select a hold category for {{ scheme }}
              </legend>
              <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
              {% for paymentHoldCategory in paymentHoldCategories %}
                {% if paymentHoldCategory.schemeName === scheme %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="holdCategoryId" name="holdCategoryId" type="radio" value="{{ paymentHoldCategory.holdCategoryId }}">
                    <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                      {{ paymentHoldCategory.name | lower | capitalize }}
                    </label>
                  </div>
                {% endif %}
              {% endfor %}
              </div>
            </fieldset>
          </div>
        {% endfor %}

        {{ govukButton({
          text: "Create",
          attributes: {
            id: "submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
