{% extends '_layout.njk' %}
{% from "macros/search-box.njk" import searchBox %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block content %}
  {{ govukBreadcrumbs({
      items: [{
        text: "Home",
        href: "/"
      }, {
        text: "Monitoring",
        href: "/monitoring"
      }]
    })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-l">Processed payment requests</span>
      <h1 class="govuk-heading-l">Processed payment requests</h1>

      {% if data.length %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header govuk-body-s">Scheme</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Payments</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric govuk-body-s">Value</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for paymentRequests in data %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-body-s">{{ paymentRequests.scheme }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{ paymentRequests.paymentRequests }}</td>
                <td class="govuk-table__cell govuk-table__cell--numeric govuk-body-s">{{ paymentRequests.value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p id="no-hold-text" class="govuk-body">No processed payment requests found.</p>
      {% endif %}
  </div>
</div>
{% endblock %}
