.search-form {
  position: relative;
}

.search-button {
  position: absolute;
  border-color: black;
  border-style: solid;
  cursor: pointer;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../images/search-icon.png);
  background-position: 2px 50%;
  background-color: #1d70b8;
  margin-left: -2.5rem;

  &:hover {
    background-color: #143c7c;
  }
}