{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },{
      text: "Payment Holds",
      href: "/payment-holds"
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <form method="POST" action="/add-payment-hold" autocomplete="off" novalidate>
        <input type="hidden" name="crumb" value="{{crumb}}"/>
        <h1 class="govuk-heading-l">Add payment hold</h1>

        {% if errors %}        
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for errorDetail in errors.details %}
                <span class="govuk-error-message">
                  <span class="govuk-visually-hidden">Error:</span> {{ errorDetail.message }}
                </span>
              {% endfor %}
            </ul>
          </div>
        </div>        
      {% endif %}

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">FRN</dt>
            <dd class="govuk-summary-list__value">
              <input class="govuk-input govuk-input--width-10" id="frn" name="frn" type="text">
            </dd>
          </div>          
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">             
                Select payment hold category
            </dt>
            <dd class="govuk-summary-list__value">
              {% if paymentHoldCategories.length > 0 %}
                <select class="govuk-select" id="holdCategory" name="holdCategory">
                  {% for paymentHoldCategory in paymentHoldCategories %}
                    <option value="{{ paymentHoldCategory.holdCategoryId }}">{{ paymentHoldCategory.name}} - {{ paymentHoldCategory.schemeName}}</option>
                  {% endfor %}
                </select>
              {% endif %}
            </dd>
          </div>
        </dl>

        {{ govukButton({
        text: "Submit",
        attributes: {
          id: "submit"
        }
      }) }}
      </form>
    </div>
  </div>
{% endblock %}
