{% extends '_layout.njk' %}
{% from "macros/search-box.njk" import searchBox %}

{% block beforeContent %}
  <a href="/event-projection?frn={{ model.projection.frn }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Event Details</h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body">
            FRN: {{ model.projection.frn }}<br />
            Agreement Number: {{ model.projection.agreementNumber }}<br />
            Payment Request Number: {{ model.projection.paymentRequestNumber }}<br />
          </p>
          <div id="viewer">
            <textarea id="data" rows="35" cols="60"></textarea>
          </div>
        </div>
        <div class="govuk-grid-column-one-half">
            <div id="flow">
              {% if model.graphDefinition %}
                <div id="graphDiv">
              {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>
  const graphDefinition = {{ model.graphDefinition | dump | safe }}
  const eventDetails = {{ eventDetails | dump | safe }}

  const eventData = document.getElementById('data')
  eventData.value  += JSON.stringify(eventDetails, null, 4)

  if (graphDefinition.length > 0) {
    const config = {
      startOnLoad:true, 
      securityLevel: 'loose'
    }

    mermaid.initialize(config)

    const element = document.getElementById("graphDiv")

    const insertSvg = (svgCode) => {
      if (svgCode) {
        element.innerHTML = svgCode
      } 
    }

    mermaid.render('theGraph', graphDefinition, insertSvg)
  }
</script>
{% endblock %}
