{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      }]
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Payment Web</span>
      <h1 class="govuk-heading-xl">{{serviceName}}</h1>

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        href: "/start",
        isStartButton: true,
        text: "Apply V1"
      }) }}

      {{ govukButton({
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        href: "/startV2",
        isStartButton: true,
        text: "Apply V2"
      }) }}

      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You'll need to know:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>Your SBI (Single Business Identifier).</li>
      <li>Your Rural Payments Agency (RPA) account details</li>
      </ul>
      
      <h2 class="govuk-heading-m">Only apply if</h2>
      <ul class="govuk-list govuk-list--bullet">
      <li>You claimed Basic Payment Scheme (BPS) funding in the last 12 months</li>
      <li>Your farm is registered in</li>
      </ul>

    </div>
  </div>
{% endblock %}