{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }]
  })}}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Schemes</h1>

      {% if schemes.length > 0 %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Scheme</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for paymentScheme in schemes %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ paymentScheme.name }}</td>
                <td class="govuk-table__cell">{% if paymentScheme.active %}Active{% else %}Inactive{% endif %}</td>
                <td class="govuk-table__cell">
                  <form method="POST" action="/payment-schemes">
                    <input type="hidden" name="crumb" value="{{crumb}}"/>
                    <input type="hidden" id="schemeId" name="schemeId" value="{{ paymentScheme.schemeId }}">
                    <input type="hidden" id="name" name="name" value="{{ paymentScheme.name }}">
                    <input type="hidden" id="active" name="active" value="{{ paymentScheme.active }}">
                    <button class="govuk-button govuk-button--secondary" data-module="govuk-button" style="margin-bottom: 0px;">{% if paymentScheme.active %}Disable{% else %}Enable{% endif %}</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body">No available schemes</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
