{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    }]
  })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Payment holds</h1>

      <p class="govuk-body">
        Payment holds will pause all payment requests for a customer and scheme.
      </p>
      <div class="govuk-button-group">
        {{ govukButton({
          text: "Create new hold",
          href: "/add-payment-hold"
        }) }}
        {{ govukButton({
          text: "Add bulk holds",
          href: "/payment-holds/bulk/add",
          classes: "govuk-button--secondary"
        }) }}
        {{ govukButton({
          text: "Remove bulk holds",
          href: "/payment-holds/bulk/remove",
          classes: "govuk-button--secondary"
        }) }}
      </div>
      {% if paymentHolds.length %}
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">FRN</th>
              <th scope="col" class="govuk-table__header">Description</th>
              <th scope="col" class="govuk-table__header">Scheme</th>
              <th scope="col" class="govuk-table__header">Created</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for paymentHold in paymentHolds %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ paymentHold.frn }}</td>
                <td class="govuk-table__cell">{{ paymentHold.holdCategoryName }}</td>
                <td class="govuk-table__cell">{{ paymentHold.holdCategorySchemeName }}</td>
                <td class="govuk-table__cell">{{ paymentHold.dateTimeAdded }}</td>
                <td class="govuk-table__cell">
                  <form method="POST" action="/remove-payment-hold">
                    <input type="hidden" name="crumb" value="{{crumb}}"/>
                    <input type="hidden" id="holdId" name="holdId" value="{{ paymentHold.holdId }}">
                    <button class="govuk-button-link">Remove</button>
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p id="no-hold-text" class="govuk-body">There are no payment holds.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
