{% extends '_layout.njk' %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Back",
        href: "/payment-schemes"
      }]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <form method="POST" action="/update-payment-scheme" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="schemeId" name="schemeId" value="{{ model.schemeId }}">
      <input type="hidden" id="name" name="name" value="{{ model.schemeName }}">
      <input type="hidden" id="active" name="active" value="{{ model.active }}">
      {{ govukRadios(model) }}
      {{ govukButton({
        text: "Update",
        attributes: {
          id: "update"
        }
      }) }}
    </form>
    </div>
  </div>

{% endblock %}
