{% extends 'reports-list/base-report.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "reports-list/input-form.njk" import dateInput %}
{% set reportTitle = 'AP/AR Listing Report' %}
{% set reportUrl = '/report-list/ap-ar-listing' %}
{% set formAction = '/report-list/ap-ar-listing/download' %}
{% block reportContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">AP/AR Listing Report</h1>
      {{ govukSelect({
        id: "report-type",
        label: {
          text: "Report Type"
        },
        items: [
          {
            value: "ap-ar",
            text: "AP Listing Report",
            selected: true
          },
          {
            value: "ar",
            text: "AR Listing Report"
          }
        ]
      }) }}
      {{ dateInput('start-date', errors) }}
      {{ dateInput('end-date', errors) }}
    </div>
  </div>
  <script>
  document.getElementById('report-type').addEventListener('change', function() {
    var actionPath = this.value;
    var newAction = '/report-list/' + actionPath + '-listing/download';
    document.getElementById('reportForm').action = newAction;
  });
</script>
{% endblock %}