{% extends '_layout.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "reports-list/input-form.njk" import dateInput %}
{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },
    {
      text: "Report List",
      href: "/report-list"
    },{
      text: "AP/AR Listing Report",
      href: "/report-list/ap-ar-listing"
    }]
  })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">AP/AR Listing Report</h1>
      {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) 
  }}
  {% endif %}
      {% set actionPath = "ap-ar" %}
      <form id="reportForm" method="get" action="/report-list/{{ actionPath }}-listing/download">
        {{ govukSelect({
          id: "report-type",
          label: {
            text: "Report Type"
          },
          items: [
            {
              value: "ap-ar",
              text: "AP Listing Report",
              selected: true
            },
            {
              value: "ar",
              text: "AR Listing Report"
            }
          ]
        }) }}
        {{ dateInput('start-date', errors) }}
        {{ dateInput('end-date', errors) }}
        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      </form>
    </div>
  </div>

  <script>
  document.getElementById('report-type').addEventListener('change', function() {
    var actionPath = this.value;
    var newAction = '/report-list/' + actionPath + '-listing/download';
    document.getElementById('reportForm').action = newAction;
  });
</script>
{% endblock %}