{% extends '_layout.njk' %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block content %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },
    {
      text: "Report List",
      href: "/report-list"
    },{
      text: reportTitle,
      href: reportUrl
    }]
  })}}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) 
  }}
  {% endif %}
  <form id="reportForm" method="get" action="{{ formAction }}">
    {% block reportContent %}{% endblock %}
    <button class="govuk-button" data-module="govuk-button">
      Submit
    </button>
  </form>
{% endblock %}