{% extends 'reports-list/base-report.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% set reportTitle = 'Claim Level Report' %}
{% set reportUrl = '/report-list/claim-level-report' %}
{% set formAction = '/report-list/claim-level-report/download' %}
{% block reportContent %}
  {% include "reports-list/report-form-fields.njk" %}
{% endblock %}
