{% extends 'reports-list/base-report.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "reports-list/input-form.njk" import dateInput %}
{% set reportTitle = 'Claim Level Report' %}
{% set reportUrl = '/report-list/claim-level-report' %}
{% set formAction = '/report-list/claim-level-report/download' %}
{% block reportContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Claim Level Report</h1>
        {{ dateInput('start-date', errors) }}
        {{ dateInput('end-date', errors) }}
    </div>
  </div>
{% endblock %}
