{% macro dateInput(id, errors) %}
<div class="govuk-form-group {% if errors[id + '-day'] or errors[id + '-month'] or errors[id + '-year'] %}govuk-form-group--error{% endif %}">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="{{ id }}-hint {{ id }}-error">
    <legend class="govuk-fieldset__legend">
      {{ id | capitalize }}
    </legend>
    {% if errors[id + '-day'] or errors[id + '-month'] or errors[id + '-year'] %}
      <p id="{{ id }}-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ id | capitalize }} date is not valid
      </p>
    {% endif %}
    <span id="{{ id }}-hint" class="govuk-hint">
      For example, 12 11 2020
    </span>
    <div class="govuk-date-input" id="{{ id }}">
      <div class="govuk-date-input__item">
        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors[id + '-day'] %}govuk-input--error{% endif %}" id="{{ id }}-day" name="{{ id }}-day" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
      </div>
      <div class="govuk-date-input__item">
        <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if errors[id + '-month'] %}govuk-input--error{% endif %}" id="{{ id }}-month" name="{{ id }}-month" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
      </div>
      <div class="govuk-date-input__item">
        <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errors[id + '-year'] %}govuk-input--error{% endif %}" id="{{ id }}-year" name="{{ id }}-year" type="text" pattern="[0-9]*" inputmode="numeric" spellcheck="false">
      </div>
    </div>
  </fieldset>
</div>
{% endmacro %}
