{% extends '_layout.njk' %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "reports-list/input-form.njk" import dateInput %}
{% block content %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Home",
      href: "/"
    },
    {
      text: "Report List",
      href: "/report-list"
    },{
      text: "Request-Editor Report",
      href: "/report-list/request-editor-report"
    }]
  })}}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Request Editor Report</h1>
      {% if errors %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: errors
    }) 
  }}
  {% endif %}
  <form id="reportForm" method="get" action="/report-list/request-editor-report/download">
        {{ dateInput('start-date', errors) }}
        {{ dateInput('end-date', errors) }}
        <button class="govuk-button" data-module="govuk-button">
          Submit
        </button>
      </form>
    </div>
  </div>
{% endblock %}


